<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RxJS-Async" version="2.2.0" targetFramework="net40" />
  <package id="RxJS-Binding" version="2.2.0" targetFramework="net40" />
  <package id="RxJS-Bridges-Angular" version="0.0.13" targetFramework="net40" />
  <package id="RxJS-Lite" version="2.2.5" targetFramework="net40" />
  <package id="RxJS-Main" version="2.2.0" targetFramework="net40" />
  <package id="Typescript.Compiler" version="2.0" targetFramework="net40" />
</packages>